
.transaction-list-container {
    width: 80%;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  .transaction-list-container h2 {
    color: #343a40;
    text-align: center;
    margin-bottom: 20px;
  }
  
  
  .transaction-list-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .transaction-list-table th,
  .transaction-list-table td {
    padding: 10px;
    border: 1px solid #dee2e6;
    text-align: left;
  }
  
  .transaction-list-table th {
    background-color: #343a40;
    color: #fff;
  }
  
  .transaction-list-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  